@import "mixins";
@import "boutons";
@import "layout";
@import "base";

/*titre du site*/

.section_title {
    @include flexMid;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding: 30px 0 30px;
    background: #f6f6f6;
    h1 {
        text-align: center;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 0;
    }
    p {
        text-align: center;
        font-weight: 300;
        font-size: 18px;
        padding-bottom: 1.5rem;
        margin: 0;
    }
}

/*fonctonnement du site*/

.nav-fonctionnement {
    padding: 4% 11%;
    .content__number {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        gap: 2rem;
        .card__number {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;
            max-width: 335px;
            height: 72.379px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            background: var(--Background, #f6f6f6);
            .circle__number {
                @include flexMid;
                background: var(--Primary, $purple);
                width: 24px;
                height: 24px;
                border-radius: 50px;
                font-size: 12px;
                margin-left: -11px;
                p {
                    color: #fff;
                }
            }
            h2 {
                font-size: 16px;
                font-weight: 500;
            }
            i {
                padding: 10px;
                color: var(--grey-tint-4, #7e7e7e);
            }
        }
    }
}

/*cards des restaurants*/

.content_restaurants {
    background: #f6f6f6;
    padding: 1% 9% 35px;
    .restaurants {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        width: 100%;
        a {
            color: black;
        }
        .card__restaurant {
            background-color: white;
            border-radius: 15px;
            filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
            width: 331px;
            min-width: 45%;
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 15px 15px 0px 0px;
            }
            .badge_nouveau {
                background-color: $turquoise;
                color: #1b6150;
                padding: 10px;
                position: absolute;
                top: 10px;
                right: 10px;
            }
            .title_card {
                padding-left: 15px;
                h3 {
                    margin-bottom: 0;
                    margin-top: 16px;
                }
                p {
                    margin-top: 5px;
                }
            }
            i {
                bottom: 1em;
                font-size: 25px;
                position: absolute;
                right: 1em;
            }
        }
    }
}

/******* style des autres pages *******/

/****************** navigation haut de page ***********************/

.arrow__back {
    text-decoration: none;
    color: #353535;
    font-size: 30px;
    padding: 30px 15px 32.137px 17px;
    position: absolute;
}

/****************** photo du restaurant en header ***********************/

.img-top {
    width: 100%;
    img {
        width: 100%;
        height: 336px;
        object-fit: cover;
    }
}

/****************** ensemble du menu ***********************/

.background-main {
    @include flexMid;
}

.subtitle {
    width: 33px;
    border-bottom: 5px solid $turquoise;
    margin-left: 15px;
    p {
        margin-bottom: 5px;
    }
}
.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 25px 25px 0 0;
    margin-top: -50px;
    background-color: #f6f6f6;
    position: relative;
    width: 926px;
    max-width: 100%;
    .content__menu {
        width: 567px;
        max-width: 100%;
    }
    .title__menu {
        display: flex;
        align-items: center;
        margin-left: -50px;
        h1 {
            font-size: 1.75rem;
            font-family: Shrikhand;
            font-weight: 400;
        }
        .heart__menu {
            position: relative;
            i {
                padding: 10px;
                font-size: 25px;
                position: absolute;
                top: -22px;
                right: -50px;
            }
        }
    }
    .card__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 15.043px;
        background: var(--White, #fff);
        box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
        height: 70px;
        margin: 15px;
        overflow: hidden;
        cursor: pointer;
        .menu_txt {
            width: 85%;
            overflow: hidden;
            h2 {
                margin: 8px;
                font-size: medium;
            }
            p {
                margin: 8px;
                font-size: 14px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        .section__prix {
            @include flexMid;
            height: 100%;
            p {
                margin-right: 15px;
            }
            span {
                height: 100%;
                width: 45px;
                background-color: $turquoise;
                i {
                    @include flexMid;
                    height: 100%;
                    width: 50px;
                    color: #f6f6f6;
                }
            }
        }
    }
}
