/*General*/

body {
    margin: 0px;
}

* {
    font-family: "roboto", sans-serif;
}

a {
    text-decoration: none;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    opacity: 0.9;
    z-index: 2;
    animation: end-animation 2.7s;
    animation-fill-mode: forwards;
    @keyframes end-animation {
        0% {
            opacity: 0.9;
        }
        50% {
            opacity: 0.7;
        }
        99% {
            opacity: 0.1;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }
    .lettre {
        color: #9356dc;
        font-size: -webkit-xxx-large;
        font-family: Shrikhand, "cursive";
        animation: shine 1.2s;
        animation-fill-mode: forwards;
        @keyframes shine {
            0% {
                color: #9356dc;
                text-shadow: 0 0 7px #99e2d0;
            }
            90% {
                color: #99e2d0;
                text-shadow: none;
            }
            100% {
                color: #9356dc;
                text-shadow: 0 0 7px #99e2d0;
            }
        }
    }
    .lettre:nth-child(1) {
        animation-delay: 0.1s;
    }
    .lettre:nth-child(2) {
        animation-delay: 0.2s;
    }
    .lettre:nth-child(3) {
        animation-delay: 0.3s;
    }
    .lettre:nth-child(3) {
        animation-delay: 0.4s;
    }
    .lettre:nth-child(4) {
        animation-delay: 0.5s;
    }
    .lettre:nth-child(5) {
        animation-delay: 0.6s;
    }
    .lettre:nth-child(6) {
        animation-delay: 0.7s;
    }
    .lettre:nth-child(7) {
        animation-delay: 0.8s;
    }
    .lettre:nth-child(8) {
        animation-delay: 0.9s;
    }
}
/*header*/

.background_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0px 13px 0px;
    height: 63px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    @media (min-width: 1440px) {
        padding: 30px 0px 31.798px 0px;
    }

    .logo {
        width: 197px;
        height: 36px;
        @media (min-width: 1440px) {
            max-width: 200px;
            max-height: 34.202px;
        }
    }
}

.form_town {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 20px 0;
    background: var(--Grey-2, #eaeaea);
    i {
        display: flex;
        justify-content: center;
        font-size: 1.15rem;
        color: #353535;
    }
    input {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: none;
        font-size: 1.15rem;
        background: none;
        width: 140px;
        font-weight: 500;
    }
}

/*titre du site*/

.section_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding: 30px 0 30px;
    background: #f6f6f6;
    h1 {
        text-align: center;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 0;
    }
    p {
        text-align: center;
        font-weight: 300;
        font-size: 18px;
        padding-bottom: 1.5rem;
        margin: 0;
    }
    .btn_title {
        background: var(
            --Button-Gradient,
            linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
        );
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        padding: 13px 19px;
        border: none;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        width: 218px;
        height: 50px;
        position: relative;
        cursor: pointer;
        transition: all 0.4s;
        &:hover {
            opacity: 0.7;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        }
    }
}

/*fonctonnement du site*/

.nav-fonctionnement {
    padding: 4% 11%;

    .content_number {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        gap: 2rem;
        .card_number {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;
            max-width: 335px;
            height: 72.379px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            background: var(--Background, #f6f6f6);
            .circle_number {
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--Primary, #9356dc);
                width: 24px;
                height: 24px;
                border-radius: 50px;
                font-size: 12px;
                margin-left: -11px;
                p {
                    color: #fff;
                }
            }
            h2 {
                font-size: 16px;
                font-weight: 500;
            }
            i {
                padding: 10px;
                color: var(--grey-tint-4, #7e7e7e);
            }
        }
    }
}

/*cards des restaurants*/

.content_restaurants {
    background: #f6f6f6;
    padding: 1% 9% 35px;
    .restaurants {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        width: 100%;
        a {
            color: black;
        }
        .card__restaurant {
            background-color: white;
            border-radius: 15px;
            filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
            width: 331px;
            min-width: 45%;
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 15px 15px 0px 0px;
            }
            .badge_nouveau {
                background-color: #99e2d0;
                color: #1b6150;
                padding: 10px;
                position: absolute;
                top: 10px;
                right: 10px;
            }
            .title_card {
                padding-left: 15px;
                h3 {
                    margin-bottom: 0;
                    margin-top: 16px;
                }
                p {
                    margin-top: 5px;
                }
            }
            i {
                bottom: 1em;
                font-size: 25px;
                position: absolute;
                right: 1em;
            }
            .fa-solid {
                opacity: 0;
                color: transparent;
                background-clip: text;
                transition: all 0.4s ease-in-out;
                background-image: linear-gradient(
                    0deg,
                    #9356dc 0%,
                    #ff79da 100%
                );
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

/************************footer***************************/

footer {
    display: flex;
    flex-direction: column;
    color: #f6f6f6;
    background: var(--Grey, #353535);
    padding: 24px;
    @media (min-width: 768px) {
        flex-direction: row-reverse;
        align-items: center;
    }

    h4 {
        font-family: Shrikhand, "cursive";
        padding-right: 10px;
        font-size: 21px;
        font-weight: 300;
        margin: 5px 0px 20px;
        @media (min-width: 768px) {
            margin: 0 40px 10px;
        }
    }
    .footer__link {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (min-width: 768px) {
            align-items: center;
            flex-direction: row;
            margin-right: 80px;
            gap: 15px;
        }
    }

    i {
        padding-right: 10px;
    }
    a {
        padding: 3px;
        color: #f6f6f6;
        @media (min-width: 920px) {
            padding: 15px;
        }
    }
}

/******* style des autres pages *******/

/****************** navigation haut de page ***********************/

.arrow__back {
    text-decoration: none;
    color: #353535;
    font-size: 30px;
    padding: 30px 15px 32.137px 17px;
    position: absolute;
}

/****************** photo du restaurant en header ***********************/

.img-top {
    width: 100%;
    img {
        width: 100%;
        height: 336px;
        object-fit: cover;
    }
}

/****************** ensemble du menu ***********************/

.background-main {
    display: flex;
    justify-content: center;
}

.subtitle {
    width: 33px;
    border-bottom: 5px solid #99e2d0;
    margin-left: 15px;
    p {
        margin-bottom: 5px;
    }
}
.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 25px 25px 0 0;
    margin-top: -50px;
    background-color: #f6f6f6;
    position: relative;
    width: 926px;
    max-width: 100%;
}

.content__menu {
    width: 567px;
    max-width: 100%;
    animation: slide 1s ease-in-out;
    @keyframes slide {
        0% {
            opacity: 0;
            transform: translateX(50%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
.content__menu:nth-child(1) {
    animation-delay: 0.1s;
}
.content__menu:nth-child(2) {
    animation-delay: 0.2s;
}
.content__menu:nth-child(3) {
    animation-delay: 0.3s;
}
.content__menu:nth-child(4) {
    animation-delay: 0.4s;
}

.title__menu {
    display: flex;
    align-items: center;
    h1 {
        font-size: 23px;
        font-family: Shrikhand;
    }
    .heart__menu {
        position: relative;
        i {
            padding: 10px;
            font-size: 25px;
            position: absolute;
            top: -22px;
            right: -50px;
        }
        .fa-solid {
            opacity: 0;
            color: transparent;
            background-clip: text;
            transition: all 0.4s ease-in-out;
            background-image: linear-gradient(
                    0deg,
                    rgba(255, 255, 255, 0.15) 0%,
                    rgba(255, 255, 255, 0.15) 100%
                ),
                linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);

            &:hover {
                opacity: 1;
            }
        }
    }
}
.card__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15.043px;
    background: var(--White, #fff);
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
    height: 70px;
    margin: 15px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        .section__prix {
            transform: translateX(0px);
        }
    }
    .menu_txt {
        width: 85%;
        overflow: hidden;
        h2 {
            margin: 8px;
            font-size: medium;
        }
        p {
            margin: 8px;
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .section__prix {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        transform: translateX(45px);
        transition: all 0.4s;
        p {
            margin-right: 15px;
        }
        span {
            height: 100%;
            width: 45px;
            background-color: #99e2d0;
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 50px;
                color: #f6f6f6;
            }
        }
    }
}

.btn_submite {
    background-image: var(
        --Button-Gradient,
        linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
    );
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 13px 19px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 218px;
    height: 50px;
    margin: 40px;
    position: relative;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
        opacity: 0.8;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    }
}
